<!DOCTYPE html>
<html>
<head>
    <title>Criar Questão</title>
</head>
<body>
    <h1>Criar Questão</h1>
    <form action="{{ url_for('create_question') }}" method="post">
        
        <label for="comment">Enunciado:</label>
        <textarea id="comment" name="comment"></textarea><br><br>
        
        <form>
            <select name="plataforma" required="required">
                <option value="">Resposta</option>
                <option value=True>Verdadeiro</option>
                <option value=False>Falso</option>
            </select>
        
        <br>
        <input type="submit" value="Criar Questão">
    </form>
</body>
</html>
