<!DOCTYPE html>
<html>
<head>
    <title>Criar Questão</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f2f2f2;
        }

        .container {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Criar Questão</h1>
        <form action="{{ url_for('create_question') }}" method="post">
            <label for="comment">Enunciado:</label>
            <textarea id="comment" name="comment"></textarea>
            
            <label for="plataforma">Resposta:</label>
            <select name="plataforma" required>
                <option value="">Selecione</option>
                <option value="True">Verdadeiro</option>
                <option value="False">Falso</option>
            </select>
            
            <input type="submit" value="Criar Questão">
        </form>
    </div>
</body>
</html>
