{% if current_user.is_authenticated %}
    {% if current_user.role == 1 %}
        <div>
            <h1>{{ current_user.name }}</h1>
            <p>texto aparece se logado </p>
            <a href="{{ url_for('logout')}}">Sair</a>
            <a href="{{ url_for('pag_professor')}}">Página do professor</a>

        </div>
    {% else %}
        <div>
            <h1>{{ current_user.name }}</h1>
            <p>texto aparece se logado </p>
            <a href="{{ url_for('logout')}}">Sair</a>
            <a href="{{ url_for('pag_aluno')}}">Página do Aluno</a>

        </div>
    {% endif %}
{% else %}
    <div>
        <h1>Visitante</h1>
        <p>texto aparece se não logado </p>
    </div>
{% endif %}

